:host {
  display: block;
  height: 100%;
  min-height: 0;
}



/* ==========================================================================
   Layout
   ========================================================================== */
.chat-layout {
  display: flex;
  height: 100%;
  font-family: var(--font-family);
}
